<main class="main">
  <div class="content">
    <h1>Cadastre-se</h1>
  </div>
  <form>
    <input type="email" placeholder="E-mail" required autocomplete="new">
    <input type="tel" placeholder="Telefone" required autocomplete="new">
    <select required>
      <option value="" disabled selected>Selecione o Cargo</option>
      <option value="administrador">Administrador</option>
      <option value="lider_equipa">Líder de Equipe</option>
      <option value="desenvolvedor">Desenvolvedor</option>
      <option value="teste">Teste</option>
      <option value="rh">RH</option>
      <option value="secretaria">Secretária</option>
    </select>
    <select required>
      <option value="" disabled selected>Selecione o Setor</option>
      <option value="tecnologia">Tecnologia</option>
      <option value="recursos_humanos">Recursos Humanos</option>
      <option value="financas">Finanças</option>
      <option value="marketing">Marketing</option>
      <option value="vendas">Vendas</option>
      <option value="suporte">Suporte</option>
    </select>
    <input type="date" placeholder="Data de nascimento" required>
    <textarea placeholder="Observação" rows="3"></textarea>
    <button type="submit">Enviar</button>
  </form>
</main>
